<!DOCTYPE html>
<html lang="en">
<head>
  <title>Food for needy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
        </style>
    
    

<body>

        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Food For Needy</a>
                  </div>
                  <ul class="nav navbar-nav">
</nav>
<br>
<div class="text-center container">
        <a href="/login" class="btn btn-success" >Login</a>
        &nbsp;
        &nbsp;
        <a href="/register" class="btn btn-info">Register</a>
</div>




<section id="Categories">
        <div class="container text-center">
          <h3><b>We donate food for foodless people</b></h3>
          <marquee><b>We gave add for your contribute</b> </marquee><br><br>
          <div class="row">
            <div class="col-sm-4">
             <a href=""> <img src="images\Untitled-115-750x500.jpg"  style="width:100%" alt="Image"></a>
              <p><b>Donations</b></p>
            </div>
            <div class="col-sm-4">
              <a href=""><img src="images\P2 FOOD.jpg" style="width:100%" alt="Image"></a>
              <p><b>provide food for children</b></p>
            </div>
            <div class="col-sm-4">
             <a href=""> <img src="images\11.jpg" style="width:100%" alt="Image"></a>
              <p><b>Dont waste food</b></p>
            </div>
         </section>

         <section id="content">
                <div class="row">
                <br>
                          <div class="col-md-4">
                              <strong><b>Send a Quick Query</b> </strong>
                              <hr>
                              <form>
                                  <div class="row">
                                      <div class="col-md-6 col-sm-6">
                                          <div class="form-group">
                                              <input type="text" class="form-control" required="required" placeholder="Name">
                                          </div>
                                      </div>
                                      <div class="col-md-6 col-sm-6">
                                          <div class="form-group">
                                              <input type="text" class="form-control" required="required" placeholder="Email address">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12 col-sm-12">
                                          <div class="form-group">
                                              <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                                          </div>
                                          <div class="form-group">
                                              <button type="submit" class="btn btn-primary">Submit Request</button>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
              
                          <div class="col-md-4">
                              <strong><b>Our Location</b></strong>
                              <hr>
                              <p>
                                   Chennai,tamilnadu<br />
                                   Just Location,<br />
                                  Call: +91-818-999-3336<br>
                                  Email: info@krish.com<br>
                              </p>
              
                              2018 www.NGO.in.com | All Right Reserved
                          </div>
                          <div class="col-md-4 social-box">
                              <strong><b>We are Social</b> </strong>
                              <hr>
                              <a href="#"><i class="fa fa-facebook-square fa-3x "></i></a>
                              <a href="#"><i class="fa fa-twitter-square fa-3x "></i></a>
                              <a href="#"><i class="fa fa-google-plus-square fa-3x c"></i></a>
                              <a href="#"><i class="fa fa-linkedin-square fa-3x "></i></a>
                              <a href="#"><i class="fa fa-pinterest-square fa-3x "></i></a>
                              <p>
                                 “One of the greatest feelings in the world is knowing that we as individuals can make a difference. Ending hunger in India is a goal that is literally within our grasp.” 
                              </p>
                          </div>
                      </div>
              </section>
                  <footer class="container-fluid text-center">
                
                <p><b>Social sites</b></p>
                 <img src="images\1.png"  style="width:5%" alt="Image">
                  <img src="images\2.png"  style="width:5%" alt="Image">
                   <img src="images\3.png"  style="width:5%" alt="Image">
                    <img src="images\4.png"  style="width:5%" alt="Image">
                    <img src="images\5.png"  style="width:5%" alt="Image">
                    <img src="images\6.png"  style="width:5%" alt="Image">
                    <img src="images\7.png"  style="width:5%" alt="Image">
                    <img src="images\8.png"  style="width:5%" alt="Image">
              </footer>    

