<!DOCTYPE html>
<html lang="en">
<head>
  <title>Food for needy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Food For Needy</a>
                  </div>
                  <ul class="nav navbar-nav">
</nav>
<br>
<div class="container">
    <h1>Welcome to login Page</h1>
    <form method="POST" action="/loggedin">
        <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter Number" required>
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>

<footer class="container-fluid text-center">
                        
  <p><b>Social sites</b></p>
   <img src="/img/1.png"  style="width:5%" alt="Image" />
    <img src="/images/2.png"  style="width:5%" alt="Image">
     <img src="images\3.png"  style="width:5%" alt="Image">
      <img src="images\4.png"  style="width:5%" alt="Image">
      <img src="images\5.png"  style="width:5%" alt="Image">
      <img src="images\6.png"  style="width:5%" alt="Image">
      <img src="images\7.png"  style="width:5%" alt="Image">
      <img src="images\8.png"  style="width:5%" alt="Image">
</footer>    



